*{
    color: white;
}
body{
    background-color: black;
}

/* Custom CSS styles for the header */
#websiteTitle {
    background-color: #c51010; /* Adjust color as needed */
    color: #ece3e3; /* Text color */
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 60px; /* Adjust font size as needed */
    
}

/* -------------------------------------------------------------- */
/* Custom CSS styles for the navigation bar */
nav {
    background-color: #121111;
    color: #fff;
    padding: 1px;
    text-align: center;
}

/* CSS style for navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline; /* Display list items horizontally */
}

nav ul li a {
    text-decoration: none;
    color: #f0ecec;
    padding: 0 15px;
}

nav ul li a:hover {
    color: #a50f0f; /* Change color on hover */
}
/* ----------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* Custom CSS styles for the top tags */
.Top-tags {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    margin-top: 0px; /* Add some space from the top */
}

.Top-tags a {
    margin: 0 10px; /* Add space between tags */
    text-decoration: none;
    color: #727171; /* Text color */
    font-size: 25px; /* Font size */
}

.Top-tags a:hover {
    color: #9b1d1d; /* Change color on hover */
}
/* ----------------------------------------------------- */


#para{
    color: #727171;
}

.container{
    height: 350px;
    width: 350px;
    background-color: rgb(56, 55, 55);
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    margin-right: 95px;
    margin-left: 15px;
}


.footer-container {
    display: flex; /* Make the containers flex to arrange the headings horizontally */
    margin-right: 20px;
}

h4, ul {
    flex: 1; /* Distribute available space evenly between headings and lists */
}

h4 {
    margin: 0; /* Remove default margin */
}

ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding */
}

ul li {
    margin-bottom: 5px; /* Add some space between list items */
}

/* putting img in each div element using their id */
#one{
    background-image: url(img1.jpeg);
    background-size: cover;
    font-size: 30px;
}
#two{
    background-image: url(img2.jpeg);
    background-size: cover;
    font-size: 30px;
}
#three{
    background-image: url(img3.avif);
    background-size: cover;
    font-size: 30px;
}
#four{
    background-image: url(img4.jpg);
    background-size: cover;
    font-size: 30px;
}
